.text{
    color: white;
    text-align: center;
    margin-right: 50px;
    text-align: justify;
}

.footer{
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    div{
        width: 50%;
    }
}